[submodule "midnight-indexer"]
	path = midnight-indexer
	url = git@github.com:midnightntwrk/midnight-indexer.git
[submodule "midnight-ledger"]
	path = midnight-ledger
	url = git@github.com:midnightntwrk/midnight-ledger.git
[submodule "midnight-node"]
	path = midnight-node
	url = git@github.com:midnightntwrk/midnight-node.git
